<h1>New Article</h1>

<%= form_with model: @trip do |form| %>
  <div>
    <%= form.label :trip_name %><br>
    <%= form.text_field :trip_name %>
  </div>

  <div>
    <%= form.label :trip_type %><br>
    <%= form.text_field :trip_type %>
  </div>
  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </div>
  <div>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
