<%= link_to "Show All Trips", trips_path %><br>

<h1>Create New Trip</h1>

<%= form_with model: @trip do |form| %>
  <div>
    <%= form.label :trip_name %><br>
    <%= form.text_field :trip_name %>
  </div>

  <div>
    <%= form.label :trip_type %><br>
    <%= form.text_field :trip_type %>
  </div>

  <div>
    <%= form.label :amount %><br>
    <%= form.number_field :amount %>
  </div>
  <div>
    <%= form.label :start_date %><br>
    <%= form.date_field :start_date %>
  </div>
  <div>
    <%= form.label :end_date %><br>
    <%= form.date_field :end_date %>
  </div>

  <br>
  <div>
  <%= form.label :add_image %>
  <%= form.file_field :main_image %>
  </div>


  <br>
   <div>
      <%= select_tag "destination_id", options_from_collection_for_select(Destination.all, :id, :city_name) %>
      <!-- <#%= collection_select(:trip, :city_name, Destination.all, :city_name, :city_name) %> -->
  </div> 
 
  <br>
  <div>
    <%= form.submit %>
  </div>
 
<% end %>
