<h2>Trip Details</h2>
<%= image_tag(@trip.main_image,  size: "200x200") if @trip.main_image.attached? %>
<br>
<br>
<table style="width:100%">
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Amount</th>
    <th>Start Date</th>
    <th>End Date</th>
    <!-- <th>Destination Id</th> -->
    <th>Destination Name</th>
  </tr>
  <tr>
    <td><%= @trip.trip_name %></td>
    <td><%= @trip.trip_type %></td>
    <td><%= @trip.amount %></td>
    <td><%= @trip.start_date %></td>
    <td><%= @trip.end_date %></td>
    <!-- <td><%#= @trip.destination_id %></td> -->
    <!-- <td><#%= @trip.destination_trips.last&.destination&.city_name %></td>  -->
      <!-- <td> -->
    <td><% @trip.destination_trips.each do |booking| %>
    <%= booking.destination.city_name %><br>
    <% end %></td> 
       
  </tr>
</table>

<br>

<% if current_user.admin? %>
<table style="width:100%">
<tr>
<th>Edit Trip</th>
<th>Destroy Trip</th>
<th>Go To All Trip List</th></tr>
<tr>
  <td><%= link_to "Edit Trips", edit_trip_path %></td>
  <td><%= link_to "Destroy", trip_path(@trip), data: {
                    turbo_method: :delete,
                    turbo_confirm: "Are you sure?"
                  } %></td>
  <td><%= link_to "Show All Trips", trips_path %></td></tr>
</table>
<% else %>
<h4>Book Your Trip Now</h4>

<%= link_to 'Book Your Trip Now' , new_booking_path(trip_id: @trip) %>

<% end %>


