
<h1>Book Your Trip Now</h1>

<%= form_with model: @booking do |form| %>
  <div>
    <%= form.label :user_name %><br>
    <%= form.text_field :user_name %>
  </div>

  <div>
    <%= form.label :contact_detail %><br>
    <%= form.number_field :contact_detail %>
  </div>

  
  <br>
  <div>
    <%#= form.hidden_field :trip_id, value: trip.id %>
    <%= hidden_field_tag :trip_id, params[:trip_id] %>
    <%= form.submit "Book" %>
    <%# <%= button_tag 'Edit', value: trip.id, type: :submit, name: :edit %>
  </div> 

   
 
<% end %>
