<div class="container">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
  <%= image_tag "logo.png", size: "60x60" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
        <%= link_to "Home", root_path,class: 'nav-link' %>
        </li>
        <li class="nav-item">
        <%= link_to "About", abouts_path,class: 'nav-link' %>
        </li>
        
         <div class="d-flex">
          <%= form_tag(trips_search_path, method: 'post', authenticity_token: false) do %>
          <div class='input-group'> 
            <%= text_field_tag(:search, params[:search], class: "form-control me-1", type: "search", placeholder: "Search by Destintaion,range or date") %>
            <%= submit_tag("Search", class: "btn btn-outline-success") %>
          </div> 
          <% end %> 
         </div> 
       
        
        <li class="nav-item">
        <% if user_signed_in? %>
  
        <%# <li class="nav-link"> %>
        
          <%= link_to 'Logout', destroy_user_session_path, data: { turbo_method: :delete}, class: 'nav-link' %>
        </li> 
          <%if current_user.admin? %>
           <li class="nav-item">
          <%= link_to "All Trips", admins_path,class: 'nav-link' %>
          </li>
          <% else %>
           <li class="nav-item">
          <%= link_to "Bookings", bookings_path,class: 'nav-link' %>
          </li>
          
       
          <% end %>
          <li class="nav-item">
          <%= current_user.first_name %>
          </li>
        <% else %>
            <li class="nav-item">
              <%= link_to 'Sign Up', new_user_registration_path,class: 'nav-link' %>
            </li>
            <li class="nav-item">
            <%= link_to 'Login', new_user_session_path,class: 'nav-link' %>
            </li>
        <% end %>
        </li>
        
        </form>
      </ul>
    </div>
  </div>

</nav>
</div>

