<div class = "container-fluid">
  <div class="row body">
    <div class="col col-xl-3">
      <div class="card" style="width: 20rem;">
          <%= image_tag "image1.jpeg", size: "300x250" %>
          <div class="card-img-overlay">
              <h5 class="card-title">Card title</h5>
          </div>
          <div class="card-body">
              <p style="color: red;">Lorem ipamet</p>
          </div>
      </div>
    </div>
    <div class="col col-xl-3">
      <div class="card" style="width: 20rem;">
       <%= image_tag "statue.jpeg", size: "300x250" %>
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        <div class="card-body">
          <p style="color: red;">Lorem ipamet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3">
      <div class="card" style="width: 20rem;">
        <%= image_tag "tajmahal.jpeg", size: "300x250" %>
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        <div class="card-body">
          <p style="color: red;">Lorem amet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3">
      <div class="card" style="width: 19rem;">
        <%= image_tag "bridge.jpeg", size: "300x250" %>
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        <div class="card-body">
          <p style="color: red;">Lorem amet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2 ">
      <div class="card" style="width: 20rem;">
      <%= image_tag "tower.webp", size: "300x250" %>
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
        <div class="card-body">
        <p style="color: red;">Loreamet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 20rem;">
          <%= image_tag "image1.jpeg", size: "300x250" %>
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>
          <div class="card-body">
            <p style="color: red;">Lorem ipsamet</p>
          </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 20rem;">     
        <%= image_tag "image1.jpeg", size: "300x250" %>  
          <div class="card-img-overlay">
            <h5 class="card-title">Card title</h5>
          </div>   
        <div class="card-body">      
          <p style="color: red;">Lor    amet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 19rem;">
        <%= image_tag "image1.jpeg", size: "300x250" %>
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
        <p style="color: red;">Lorem ipsum dolor sit amet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 20rem;">
        <%= image_tag "image1.jpeg", size: "300x250" %>
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
        <p style="color: red;">Lorem amet</p>
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 20rem;">
        <%= image_tag "image1.jpeg", size: "300x250" %>
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
          <p style="color: red;">Lorem ip
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 20rem;">
        <%= image_tag "image1.jpeg", size: "300x250" %>
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
          <p style="color: red;">Lorem ip
        </div>
      </div>
    </div>
    <div class="col col-xl-3 pt-2">
      <div class="card" style="width: 19rem;">
        <%= image_tag "image1.jpeg", size: "300x250" %>
        <div class="card-img-overlay">
          <h5 class="card-title">Card title</h5>
        </div>
        <div class="card-body">
          <p style="color: red;">Lorem ip
        </div>
      </div>
    </div>
  </div>
</div>