<h2>Trip Details</h2>

<table style="width:100%">
  <tr>
    <th>Trip Name</th>
    <th>Trip Type</th>
    <th>Amount</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>Destination Name</th>
   
  </tr>
  <tr>
    <td><%= @home.trip_name %></td>
    <td><%= @home.trip_type %></td>
    <td><%= @home.amount %></td>
    <td><%= @home.start_date %></td>
    <td><%= @home.end_date %></td>
  </tr>
  
</table>

<br>


